
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~mdbootstrap/scss/mdb';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~select2/dist/css/select2.min.css';
@import 'style.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
